.comment-thread,
.comment-replies {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comment-replies-section {
  display: flex;
  flex-direction: row;
}

.thread-line {
  height: 100%;
  margin: 0 3rem;
  width: 10px;
  background-color: hsl(223, 19%, 93%);
}
