.comment {
  display: grid;
  padding: 18px 22px;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.comment-vote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: hsl(228, 33%, 97%);
  width: 2.5rem;
  height: 6rem;
  border-radius: 12px;
}

.vote-rating {
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}

.vote-up {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.vote-down {
  height: auto;
  width: 1rem;
  cursor: pointer;
}

.vote-up:hover {
  fill: hsl(238, 40%, 52%);
}

.comment-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-username {
  font-weight: 500;
}

.comment-info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.comment-buttons .comment-delete-button,
.comment-buttons .comment-reply-button,
.comment-buttons .comment-edit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.comment-delete-button p,
.comment-reply-button p,
.comment-edit-button p {
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}

.comment-age,
.comment-content p {
  color: hsl(212, 24%, 26%);
}
